.contact-preview {
    background-color: lighten(darkslategrey, 15%);
    display: grid;
    align-items: center;
    grid-template-columns: 80px 1fr 50px 10px 50px 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 0 5px 8px;
    width: 95%;
    transition: transform .2s;

    &:hover {
        cursor: pointer;
        transform: translateY(-3%);
    }

    img {
        width: 50px;
    }

    a {
        display: flex;
        width: fit-content;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: lighten(darkslategrey, 25%);
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
        &:hover {
            background-color: lighten(darkslategrey, 35%);
        }
    }

    button {
        grid-column: 5/6;
        display: flex;
        width: fit-content;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: lighten(darkslategrey, 25%);
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
        &:hover {
            background-color: lighten(darkslategrey, 35%);
        }
    }
}